<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Book Your Sitter</title>
</head>
<body>
	<form name="insertJob" th:object="${newJob}"
		th:action="@{insertJob}"
		method=POST>
		<table id="sitterBio">
			<tr>
				<th>          </th>
				<th>          </th>
				<th>      </th>
				<th>      </th>
				<th>               </th>
				<th><a
					th:href="@{/bookingcert}"
					style="color: limeGreen"><strong>Sort by Cert</strong></a></th>
				<th><a
					th:href="@{/bookingmax}"
					style="color: limeGreen"><strong>Sort by Max</strong></a></th>
				<th>          </th>
				<th><a
					th:href="@{/bookingrating}"
					style="color: limeGreen"><strong>Sort by Rating</strong></a></th>

			</tr>
			<tr>
				<th>First Name:</th>
				<th>Last Name:</th>
				<th>Phone:</th>
				<th>Email:</th>
				<th>Other Contacts:</th>
				<th>Certifications:</th>
				<th>Maximum Pets:</th>
				<th>Biography:</th>
				<th>Average Rating:</th>

			</tr>

			<tr th:each="sitter : ${sitters}">

				<td th:text="${sitter.firstName}" />
				<td th:text="${sitter.lastName}" />
				<td th:text="${sitter.phone}" />
				<td th:text="${sitter.email}" />
				<td th:text="${sitter.miscContact}" />
				<td th:text="${sitter.certifications}" />
				<td th:text="${sitter.maxPets}" />
				<td th:text="${sitter.biography}" />
				<td th:text="${sitter.averageRating}" />
				
			</tr>
		</table>
		<input name="submit" type="submit" value="Book Sitter" />
	</form>
	<a href="/index.html">Return Home</a>

</body>
</body>
</html>