<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Create a New Pet!</title>
</head>
<body>
	<form th:object="${newPet}"
		th:action="@{/update/4/{petId}(petId=${newPet.petId})}" name="myForm" method='POST' onsubmit="return checkForm(this)">
		Your Pet's Name: <input name="petName" size="20" th:field="*{petName}">
		<br /> Your Pet's Breed: <input name="petType" size="10"
			th:field="*{petType}"><br /> Any Extra Needs for your Pet?:
		<input name="petNeeds" size="10" th:field="*{petNeeds}"><br />
 <fieldset>
        <legend>Available Owners</legend>
        <ul>
            <li th:each="currentOwners : ${owners}">
                <input type="radio" th:field="${owners}" th:value="${currentOwners.firstName}" />
                <label th:for="${owners}" th:text="${currentOwners.firstName}"></label>
            </li>
        </ul>
    </fieldset>
		<input name="submit" type="submit" value="submit" />
	</form>
</body>
</html>