<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Owner Homepage</title>

</head>
<body>

	<h1>Welcome Back</h1>
	<h2>View Your Pets Below</h2>
	<form>
		<table id="numOfPets">
			<tr>
				<th>Number of Pets:</th>
			</tr>

			<tr th:each="currentOwner : ${owners}">
				<td th:text="${currentOwner.numOfPets }" />


			</tr>
		</table>
	</form>
	<form>
		<table id="ownerPets">
			<tr>
				<th>Account Number:</th>
				<th>First Name:</th>
				<th>Last Name:</th>
				<th>Phone:</th>
				<th>Email:</th>
				<th>Alternate Contact:</th>
			</tr>

			<tr th:each="currentOwner : ${owners}">
				<td th:text="${currentOwner.ownerId}" />
				<td th:text="${currentOwner.firstName}" />
				<td th:text="${currentOwner.lastName}" />
				<td th:text="${currentOwner.phone}" />
				<td th:text="${currentOwner.email}" />
				<td th:text="${currentOwner.miscContact}" />
				<td><a
					th:href="@{/edit/1/{ownerId}(ownerId=${currentOwner.ownerId})}"
					style="color: limeGreen"><strong>Edit</strong></a></td>
				<td><a
					th:href="@{/delete/1/{ownerId}(ownerId=${currentOwner.ownerId})}"
					style="color: red"><strong>Delete</strong></a></td>
			</tr>
			<tr th:each="currentPet : ${pets}">
				<td th:text="${currentPet.petName}"/>
				<td th:text="${currentPet.petType}"/>
				<td th:text="${currentPet.petNeeds}"/>
				
			<td><a
					th:href="@{/edit/4/{petId}(petId=${currentPet.petId})}"
					style="color: limeGreen"><strong>Edit</strong></a></td>
				<td><a
					th:href="@{/delete/4/{petId}(petId=${currentPet.petId})}"
					style="color: red"><strong>Delete</strong></a></td>
			</tr>
		</table>
	</form>

	<a href="booking">Click Here to Book</a>
	<a href="inputPet">Click Here to add your Pet</a>
	<a href="rateSitter">Click Here to Rate a Sitter</a>
	<a href="/index.html">Return Home</a>

	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>