<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Sitter Homepage</title>
<style>
#sitter {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

#sitter td, #sitter th {
	border: 1px solid #ddd;
	padding: 8px;
	width: 25px;
}

#sitter tr:nth-child(even) {
	background-color: #f2f2f2;
}

#sitter tr:hover {
	background-color: #ddd;
}

#sitter th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #13A2DB;
	color: white;
}

table {
	margin: auto;
}

body {
	background-color: #F0F8FB;
}
</style>
</head>
<body>

	<h1 style="text-align: center">Welcome Back</h1>
	<p style="text-align: center">View Your Account Below</p>

	<br>
	<h3 style="text-align: center">Sitter Database</h3>
	<table id="sitter">
		<tr>
			<th>Account Number</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Phone</th>
			<th>Email</th>
			<th>Other Contacts</th>
			<th>Certifications</th>
			<th>Maximum Pets</th>
			<th>Biography</th>
			<th>Average Rating</th>
			<th>Edit</th>
			<th>Delete</th>

		</tr>

		<tr th:each="sitter : ${sitters}">
			<td th:text="${sitter.sitterId}" />
			<td th:text="${sitter.firstName}" />
			<td th:text="${sitter.lastName}" />
			<td th:text="${sitter.phone}" />
			<td th:text="${sitter.email}" />
			<td th:text="${sitter.miscContact}" />
			<td th:text="${sitter.certifications}" />
			<td th:text="${sitter.maxPets}" />
			<td th:text="${sitter.biography}" />
			<td th:text="${sitter.averageRating}" />


			<td><a
				th:href="@{/edit/2/{sitterId}(sitterId=${sitter.sitterId})}"
				style="color: limeGreen"><strong>Edit</strong></a></td>
			<td><a
				th:href="@{/delete/2/{sitterId}(sitterId=${sitter.sitterId})}"
				style="color: red"><strong>Delete</strong></a></td>
		</tr>
	</table>

	<br>
	<div class="container" style="float: center;">
		<a href="/viewJobs" class="btn btn-primary">Click Here to View
			Jobs</a> <a href="/rateOwner" class="btn btn-primary">Click Here to
			Rate an Owner</a> <a href="/index.html" class="btn btn-primary">Return
			Home</a>
	</div>
	<br>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

</body>
</html>