<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Jobs</title>
</head>
<body>
	<form>
		<table id = "Jobs">
			<tr>	
				<th>First Name:</th>
				<th>Last Name:</th>
				<th>Pet Needs:</th>
				<th>Job Date:</th>
				<th>Job Time:</th>
				<th>Status:</th>
			</tr>
				
			<tr th:each="sitter : ${sitters}">
					
				<td th:text="${owner.firstName}" />
				<td th:text="${owner.lastName}" />		
				<td th:text="${owner.petNeeds}" />
				<td th:text="${job.jDate}" />
				<td th:text="${job.jTime}" />
				<td th:href="sitterAccept" th:text = "${job.Status}" />	
				<td th:text="${job.feedbackToSitter}" />
			</tr>
		</table>
	</form>
</body>
</html>