<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Jobs</title>
</head>
<body>
	<form>
		<table id="Jobs">
			<tr>
				<th>Owner Id:</th>
				<th>Sitter Id:</th>
				<th>Pet Needs</th>
				<th>Job Date:</th>
				<th>Job Time:</th>
				<th>Status:</th>
			</tr>

			<tr th:each="job : ${jobs}">
				<td th:text="${job.jobId}" />
				<td th:text="${job.ownerId}" />
				<td th:text="${job.sitterId}" />
				<td th:text="${job.feedbackToSitter}" />
				<td th:text="${job.jDate}" />
				<td th:text="${job.jTime}" />
				<td th:href="sitterAccept" th:text="${job.Status}" />
			</tr>
		</table>
	</form>
<a href="/index.html">Return Home</a>
</body>
</html>