<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Jobs</title>

<!-- Bootstrap -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<style>
#Jobs {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

#Jobs td, #Jobs th {
	border: 1px solid #ddd;
	padding: 8px;
	width: 25px;
}

#Jobs tr:nth-child(even) {
	background-color: #f2f2f2;
}

#Jobs tr:hover {
	background-color: #ddd;
}

#Jobs th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #13A2DB;
	color: white;
}

table {
	margin: auto;
}

body {
	background-color: #F0F8FB;
}
</style>
</head>
<body>

	<h1 style="text-align: center">Welcome Back</h1>
	<p style="text-align: center">View Jobs Below</p>

	<br>
	<form>
		<table id="Jobs">
			<tr>
				<th>Job ID</th>
				<th>Owner ID</th>
				<th>Sitter ID</th>
				<th>Pet Needs</th>
				<th>Job Date</th>
				<th>Job Time</th>
				<th>Status</th>
			</tr>

			<tr th:each="job : ${jobs}">
				<td th:text="${job.jobId}" />
				<td th:text="${job.ownerId}" />
				<td th:text="${job.sitterId}" />
				<td th:text="${job.feedbackToSitter}" />
				<td th:text="${job.jDate}" />
				<td th:text="${job.jTime}" />
				<td th:href="sitterAccept" th:text="${job.Status}" />
			</tr>
		</table>
	</form>
	<br>
	<div class="container" style="float: right">
		<a href="/sitterHome" class="btn btn-primary">Back to Account</a> <a
			href="/index.html" class="btn btn-primary">Return Home</a>
	</div>

	<br>
	<!-- Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>